#l{
    border-radius: 10px 20px; /* for elliptical corners */
    background-color: cadetblue;

}
#k{
    border-radius: 10px 20px; /* for elliptical corners */
    background-color:whitesmoke;
    
}
#p{
    background: 0dvh whitesmoke;
    border-radius: 10px 20px ;
}